/*>>> HEADLINE CARD */
.headline-card {
	transition: box-shadow 0.15s ease-in-out;
	/*background-color: rgba(243, 165, 115, 0.1)*/
	cursor: pointer;
}

.headline-card.showing {
	cursor: default;
}

.headline-card:hover {
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .17) !important;
	transition: box-shadow 0.15s ease-in-out;
}

.headline-card.focus {
	/*box-shadow: 0 .5rem 1rem rgb(243, 165, 115, 0.2) !important;*/
	box-shadow: 0px 0px 20px 0px rgba(243, 165, 115, 0.50) !important;
}

.headline-card-body {
	display: flex;
	flex-direction: column;
}

.headline-info {
	display: flex;
	flex-direction: row;
	font-size: 8pt;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid lightgray;
}

.headline-content {
	max-height: 0px;
	margin-top: 5px;
	visibility: hidden;
	transition: max-height 0.5s ease-in-out;
}

.headline.showing .headline-content {
	visibility: visible;
	padding-bottom: 5px;
	overflow: scroll;
	transition: max-height 0.5s ease-in-out;
}
.headline.instant .headline-content {
	transition: none;
}
.headline.showing.instant .headline-content {
	transition: none;
}

.headline-card.focus .headline-info {
	border-top: 1px solid #f4a56d;
}

.headline-title {
	font-weight: 500;
}

.headline-date {}

.headline-badge {
	margin-right: 5px;
	font-size: 8pt;
}

.headline-source {
	flex: 1;
}


/*>>> DROPDOWN STYLING*/
.dropdown {
	background-color: #f4a56d !important;
	border-color: #f4a56d !important;
}

.dropdown:hover,
.dropdown:active,
.dropdown:visited,
.dropdown:focus {
	background-color: rgb(233, 155, 105) !important;
	border-color: rgb(233, 155, 105) !important;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	margin-top: 0px;
	padding: 0px;
	width: 250px;
}

.dropdown-item.selected {
	background-color: lightgray;
}

.dropdown-item {
	padding-top: 10px;
	padding-bottom: 10px;
}