/*-------------------------------------------------*/
/*SPECIFIC TO MOBILE*/
/*-------------------------------------------------*/
body {
    margin-top: 0px;
}

.headline-card {
    margin-top: auto;
    width: 100%;
}

.headline {
    /*scroll-snap-align: start;*/

    /*display: inline-block;*/

    display: flex;

    width: 100%;
    white-space: initial;
    /*vertical-align: bottom;*/
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2.5px;
}

.headline {
    vertical-align: bottom;
}

.headline-title {
    font-size: 14pt;
}

.headline-content {
    font-size: 12pt;
}

.headline.showing .headline-content {
    visibility: visible;
    max-height: 55vh;
}

.headline-info {
    font-size: 10pt;
}

.headline.showing .close {
    font-size: 24pt;
}

.headline-content a {
    font-size: 10pt;
}

/*.headline.showing .headline-badges {
    display: initial;
}
.headline .headline-badges {
    display: none;
}*/

#headlines {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /*scroll-snap-type: x mandatory;*/
}

#scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    height: 100%;
    width: 100vw;
}

#top-part {
    height: 100%;
    scroll-snap-align: center;
}

#bottom-part {
    height: 100%;
    scroll-snap-align: center;
}

#headlines_container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    overflow: visible;

    /*REMOVE THIS*/
    /*height: 300px;*/
    /*background-color: red;*/
}  

#map {
    width: 100vw;
    height: 100%;
}

.rel-wrapper {
    position: relative;
}

#bottom-part {
    padding: 3em;
    display: flex;
    flex-direction: column;
}

#searchbar {
    height: 2em;
}

#source-selector {
    display: flex;
    flex-direction: column;
}

#source-selector>button {
    color: black;
    margin-bottom: 0.5em;
}

#source-selector>button.selected {
    background-color: rgb(235, 131, 40);
    border-color: rgb(235, 131, 40);
    color: black;
}

#source-selector>button:hover {
    background-color: white;
}

#source-selector>button.selected:hover {
    background-color: rgb(235, 131, 40);
}

#top-bar-searchbar>input {
    font-size: 14pt;
}

#about {
    margin-top: auto;
    font-size: 10pt;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

#credits {
    margin-top: 10px;
    font-size: 10pt;
}

#credits > a, #about > a {
    color: rgb(1, 1, 1);
    text-decoration: underline;
}

#credits > img, #about > img {
    height: 20px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}


#logo {
    position: absolute;
    z-index: 10000;
    
    margin: 0.5em;
    padding: 5px;
    height: 35px;
    font-weight: 600;
}
#logo > img {
    height: 100%;
    margin-right: 0.25em;
}

#explanation-overlay {
    z-index: 1000;
    position: absolute;
    background-color: rgb(0,0,0,0.7);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#explanation-close {
    position: absolute;
    top: 0px;
    right: 30px;
    color: white;
    font-size: 40pt;
    cursor: pointer;
}
.hide {
    display: none;
}

#explanation-swipe-up {
    position: absolute;
    width: 100%;
    bottom: 180px;
    display: flex;

    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 600;

    color: white;
}
#explanation-swipe-up * {
}
#explanation-swipe-up img {
    width: 40px;
    margin-bottom: 15px;
}

#explanation-swipe-side {
    position: absolute;
    text-align: center;
    display: flex;
    width: 100%;
    bottom: 75px;
}
#explanation-swipe-side img {
    height: 30px;
}
#explanation-swipe-side span {
    z-index: 10000;
    width: 100%;
    font-weight: 600;
    color: white;
}

.glider-track {
    /*background-color: lightgray;*/
    /*height: 150px;*/
}
